In [1]:
my_list = [1, 2, 3, 4]

for value in my_list:
    print(value)

1
2
3
4

In [2]:
my_list = [1, 2, 3, 4]

for value in my_list:
    print(value * 20)

20
40
60
80

In [3]:
names = ["Elie", "Tim", "Matt"]

first_letters = [name[0] for name in names]
print (first_letters)

['E', 'T', 'M']

In [4]:
numbers = [1, 2, 3, 4, 5, 6]

even_numbers = [number for number in numbers if number % 2 == 0]
print(even_numbers)

[2, 4, 6]

In [5]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

common_values = list(set([value for value in list1 if value in list2]))
print(common_values)

[3, 4]

In [6]:
words = ["Elie", "Tim", "Matt"]

reversed_lowercase_words = [word[::-1].lower()for word in words]
print(reversed_lowercase_words)

['eile', 'mit', 'ttam']

In [7]:
string1 = "first"
string2 = "third"

common_letters = sorted(set([letter for letter in string1 if letter in string2]))
print(common_letters)

['i', 'r', 't']

In [8]:
divisible_by_12 = [num for num in range(1,101) if num % 12 == 0]

print (divisible_by_12)

[12, 24, 36, 48, 60, 72, 84, 96]

In [9]:
word = "amazing"
vowels = "aeiou"
consonants = [letter for letter in word if letter.lower() not in vowels]

print(consonants)

['m', 'z', 'n', 'g']

In [10]:
result = [[i for i in range(3)]for _ in range(3)]

print(result)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [11]:
result = [[i for i in range (10)]for _ in range(10)]

result

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]